### 9.1 컨텐츠 기반 필터링 실습 – TMDB 5000 Movie Dataset

In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies =pd.read_csv('../data/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(3)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [39]:
pd.read_csv('../data/tmdb_5000_credits.csv').head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""credit_id"": ""5602a8a7c3a3685532001c9a"", ""gender"": 2, ""id"": 65731, ""name"": ""Sam Worthington"", ""order"": 0}, {""cast_id"": 3, ""character"": ""Neytiri"", ""credit_id"": ""52fe48009251416c750ac9cb"", ""gender"": 1, ""id"": 8691, ""name"": ""Zoe Saldana"", ""order"": 1}, {""cast_id"": 25, ""character"": ""Dr. Grace Augustine"", ""credit_id"": ""52fe48009251416c750aca39"", ""gender"": 1, ""id"": 10205, ""name"": ""Sigourney Weaver"", ""order"": 2}, {""cast_id"": 4, ""character"": ""Col. Quaritch"", ""credit_id"": ""52fe48009251416c750ac9cf"", ""gender"": 2, ""id"": 32747, ""name"": ""Stephen Lang"", ""order"": 3}, {""cast_id"": 5, ""character"": ""Trudy Chacon"", ""credit_id"": ""52fe48009251416c750ac9d3"", ""gender"": 1, ""id"": 17647, ""name"": ""Michelle Rodriguez"", ""order"": 4}, {""cast_id"": 8, ""character"": ""Selfridge"", ""credit_id"": ""52fe48009251416c750ac9e1"", ""gender"": 2, ""id"": 1771, ""name"": ""Giovanni Ribisi"", ""order"": 5}, {""cast_id"": 7, ""character"": ""Norm Spellman"", ""credit_id"": ""52fe48009251416c750ac9dd"", ""gender...","[{""credit_id"": ""52fe48009251416c750aca23"", ""department"": ""Editing"", ""gender"": 0, ""id"": 1721, ""job"": ""Editor"", ""name"": ""Stephen E. Rivkin""}, {""credit_id"": ""539c47ecc3a36810e3001f87"", ""department"": ""Art"", ""gender"": 2, ""id"": 496, ""job"": ""Production Design"", ""name"": ""Rick Carter""}, {""credit_id"": ""54491c89c3a3680fb4001cf7"", ""department"": ""Sound"", ""gender"": 0, ""id"": 900, ""job"": ""Sound Designer"", ""name"": ""Christopher Boyes""}, {""credit_id"": ""54491cb70e0a267480001bd0"", ""department"": ""Sound"", ""gender"": 0, ""id"": 900, ""job"": ""Supervising Sound Editor"", ""name"": ""Christopher Boyes""}, {""credit_id"": ""539c4a4cc3a36810c9002101"", ""department"": ""Production"", ""gender"": 1, ""id"": 1262, ""job"": ""Casting"", ""name"": ""Mali Finn""}, {""credit_id"": ""5544ee3b925141499f0008fc"", ""department"": ""Sound"", ""gender"": 2, ""id"": 1729, ""job"": ""Original Music Composer"", ""name"": ""James Horner""}, {""credit_id"": ""52fe48009251416c750ac9c3"", ""department"": ""Directing"", ""gender"": 2, ""id"": 2710, ""job"": ""Director"", ""name"": ""James Cameron..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Sparrow"", ""credit_id"": ""52fe4232c3a36847f800b50d"", ""gender"": 2, ""id"": 85, ""name"": ""Johnny Depp"", ""order"": 0}, {""cast_id"": 5, ""character"": ""Will Turner"", ""credit_id"": ""52fe4232c3a36847f800b511"", ""gender"": 2, ""id"": 114, ""name"": ""Orlando Bloom"", ""order"": 1}, {""cast_id"": 6, ""character"": ""Elizabeth Swann"", ""credit_id"": ""52fe4232c3a36847f800b515"", ""gender"": 1, ""id"": 116, ""name"": ""Keira Knightley"", ""order"": 2}, {""cast_id"": 12, ""character"": ""William \""Bootstrap Bill\"" Turner"", ""credit_id"": ""52fe4232c3a36847f800b52d"", ""gender"": 2, ""id"": 1640, ""name"": ""Stellan Skarsg\u00e5rd"", ""order"": 3}, {""cast_id"": 10, ""character"": ""Captain Sao Feng"", ""credit_id"": ""52fe4232c3a36847f800b525"", ""gender"": 2, ""id"": 1619, ""name"": ""Chow Yun-fat"", ""order"": 4}, {""cast_id"": 9, ""character"": ""Captain Davy Jones"", ""credit_id"": ""52fe4232c3a36847f800b521"", ""gender"": 2, ""id"": 2440, ""name"": ""Bill Nighy"", ""order"": 5}, {""cast_id"": 7, ""character"": ""Captain Hector Barbossa"", ""credit_...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""department"": ""Camera"", ""gender"": 2, ""id"": 120, ""job"": ""Director of Photography"", ""name"": ""Dariusz Wolski""}, {""credit_id"": ""52fe4232c3a36847f800b4fd"", ""department"": ""Directing"", ""gender"": 2, ""id"": 1704, ""job"": ""Director"", ""name"": ""Gore Verbinski""}, {""credit_id"": ""52fe4232c3a36847f800b54f"", ""department"": ""Production"", ""gender"": 2, ""id"": 770, ""job"": ""Producer"", ""name"": ""Jerry Bruckheimer""}, {""credit_id"": ""52fe4232c3a36847f800b503"", ""department"": ""Writing"", ""gender"": 2, ""id"": 1705, ""job"": ""Screenplay"", ""name"": ""Ted Elliott""}, {""credit_id"": ""52fe4232c3a36847f800b509"", ""department"": ""Writing"", ""gender"": 2, ""id"": 1706, ""job"": ""Screenplay"", ""name"": ""Terry Rossio""}, {""credit_id"": ""52fe4232c3a36847f800b57f"", ""department"": ""Editing"", ""gender"": 0, ""id"": 1721, ""job"": ""Editor"", ""name"": ""Stephen E. Rivkin""}, {""credit_id"": ""52fe4232c3a36847f800b585"", ""department"": ""Editing"", ""gender"": 2, ""id"": 1722, ""job"": ""Editor"", ""name"": ""Craig Wood""}, {""credit_id"": ""..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""credit_id"": ""52fe4d22c3a368484e1d8d6b"", ""gender"": 2, ""id"": 8784, ""name"": ""Daniel Craig"", ""order"": 0}, {""cast_id"": 14, ""character"": ""Blofeld"", ""credit_id"": ""54805866c3a36829ab002592"", ""gender"": 2, ""id"": 27319, ""name"": ""Christoph Waltz"", ""order"": 1}, {""cast_id"": 13, ""character"": ""Madeleine"", ""credit_id"": ""546f934fc3a3682f9a002ca5"", ""gender"": 1, ""id"": 121529, ""name"": ""L\u00e9a Seydoux"", ""order"": 2}, {""cast_id"": 10, ""character"": ""M"", ""credit_id"": ""53e86503c3a368399c0031f0"", ""gender"": 2, ""id"": 5469, ""name"": ""Ralph Fiennes"", ""order"": 3}, {""cast_id"": 17, ""character"": ""Lucia"", ""credit_id"": ""54805920c3a36829ae0022c5"", ""gender"": 1, ""id"": 28782, ""name"": ""Monica Bellucci"", ""order"": 4}, {""cast_id"": 8, ""character"": ""Q"", ""credit_id"": ""52fe4d22c3a368484e1d8d87"", ""gender"": 2, ""id"": 17064, ""name"": ""Ben Whishaw"", ""order"": 5}, {""cast_id"": 11, ""character"": ""Moneypenny"", ""credit_id"": ""53e8650cc3a368399c0031f4"", ""gender"": 1, ""id"": 2038, ""name"": ""Naomie Harris"",...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""department"": ""Sound"", ""gender"": 2, ""id"": 153, ""job"": ""Original Music Composer"", ""name"": ""Thomas Newman""}, {""credit_id"": ""52fe4d22c3a368484e1d8d77"", ""department"": ""Directing"", ""gender"": 2, ""id"": 39, ""job"": ""Director"", ""name"": ""Sam Mendes""}, {""credit_id"": ""5677cd99925141691a005333"", ""department"": ""Art"", ""gender"": 1, ""id"": 8384, ""job"": ""Set Decoration"", ""name"": ""Anna Pinnock""}, {""credit_id"": ""52fe4d22c3a368484e1d8d8d"", ""department"": ""Writing"", ""gender"": 2, ""id"": 932, ""job"": ""Screenplay"", ""name"": ""John Logan""}, {""credit_id"": ""562fc9bb92514129fe0006b4"", ""department"": ""Writing"", ""gender"": 2, ""id"": 932, ""job"": ""Story"", ""name"": ""John Logan""}, {""credit_id"": ""5654d41c92514145c3000373"", ""department"": ""Art"", ""gender"": 2, ""id"": 4248, ""job"": ""Production Design"", ""name"": ""Dennis Gassner""}, {""credit_id"": ""52fe4d22c3a368484e1d8d71"", ""department"": ""Writing"", ""gender"": 2, ""id"": 9856, ""job"": ""Characters"", ""name"": ""Ian Fleming""}, {""credit_id"": ""54805989c3a368..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Batman"", ""credit_id"": ""52fe4781c3a36847f8139869"", ""gender"": 2, ""id"": 3894, ""name"": ""Christian Bale"", ""order"": 0}, {""cast_id"": 8, ""character"": ""Alfred Pennyworth"", ""credit_id"": ""52fe4781c3a36847f8139881"", ""gender"": 2, ""id"": 3895, ""name"": ""Michael Caine"", ""order"": 1}, {""cast_id"": 5, ""character"": ""James Gordon"", ""credit_id"": ""52fe4781c3a36847f8139875"", ""gender"": 2, ""id"": 64, ""name"": ""Gary Oldman"", ""order"": 2}, {""cast_id"": 3, ""character"": ""Selina Kyle / Catwoman"", ""credit_id"": ""52fe4781c3a36847f813986d"", ""gender"": 1, ""id"": 1813, ""name"": ""Anne Hathaway"", ""order"": 3}, {""cast_id"": 4, ""character"": ""Bane"", ""credit_id"": ""52fe4781c3a36847f8139871"", ""gender"": 2, ""id"": 2524, ""name"": ""Tom Hardy"", ""order"": 4}, {""cast_id"": 15, ""character"": ""Miranda Tate"", ""credit_id"": ""52fe4781c3a36847f813988d"", ""gender"": 1, ""id"": 8293, ""name"": ""Marion Cotillard"", ""order"": 5}, {""cast_id"": 6, ""character"": ""Blake"", ""credit_id"": ""52fe4781c3a36847f8139879"", ""gender"": 2, ""id""...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""department"": ""Sound"", ""gender"": 2, ""id"": 947, ""job"": ""Original Music Composer"", ""name"": ""Hans Zimmer""}, {""credit_id"": ""52fe4781c3a36847f8139899"", ""department"": ""Production"", ""gender"": 0, ""id"": 282, ""job"": ""Producer"", ""name"": ""Charles Roven""}, {""credit_id"": ""52fe4781c3a36847f813991b"", ""department"": ""Writing"", ""gender"": 2, ""id"": 525, ""job"": ""Screenplay"", ""name"": ""Christopher Nolan""}, {""credit_id"": ""52fe4781c3a36847f8139865"", ""department"": ""Directing"", ""gender"": 2, ""id"": 525, ""job"": ""Director"", ""name"": ""Christopher Nolan""}, {""credit_id"": ""52fe4781c3a36847f8139893"", ""department"": ""Production"", ""gender"": 2, ""id"": 525, ""job"": ""Producer"", ""name"": ""Christopher Nolan""}, {""credit_id"": ""52fe4781c3a36847f8139915"", ""department"": ""Writing"", ""gender"": 2, ""id"": 525, ""job"": ""Story"", ""name"": ""Christopher Nolan""}, {""credit_id"": ""52fe4781c3a36847f813990f"", ""department"": ""Writing"", ""gender"": 2, ""id"": 527, ""job"": ""Screenplay"", ""name"": ""Jonathan Nolan""}, {""cred..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""credit_id"": ""52fe479ac3a36847f813ea75"", ""gender"": 2, ""id"": 60900, ""name"": ""Taylor Kitsch"", ""order"": 0}, {""cast_id"": 20, ""character"": ""Dejah Thoris"", ""credit_id"": ""52fe479ac3a36847f813eab3"", ""gender"": 1, ""id"": 21044, ""name"": ""Lynn Collins"", ""order"": 1}, {""cast_id"": 7, ""character"": ""Sola"", ""credit_id"": ""52fe479ac3a36847f813ea79"", ""gender"": 1, ""id"": 2206, ""name"": ""Samantha Morton"", ""order"": 2}, {""cast_id"": 3, ""character"": ""Tars Tarkas"", ""credit_id"": ""52fe479ac3a36847f813ea6d"", ""gender"": 2, ""id"": 5293, ""name"": ""Willem Dafoe"", ""order"": 3}, {""cast_id"": 8, ""character"": ""Tal Hajus"", ""credit_id"": ""52fe479ac3a36847f813ea7d"", ""gender"": 2, ""id"": 19159, ""name"": ""Thomas Haden Church"", ""order"": 4}, {""cast_id"": 2, ""character"": ""Matai Shang"", ""credit_id"": ""52fe479ac3a36847f813ea69"", ""gender"": 2, ""id"": 2983, ""name"": ""Mark Strong"", ""order"": 5}, {""cast_id"": 4, ""character"": ""Tardos Mors"", ""credit_id"": ""52fe479ac3a36847f813ea71"", ""gender"": 2, ""id"": 8785, ""nam...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""department"": ""Writing"", ""gender"": 2, ""id"": 7, ""job"": ""Screenplay"", ""name"": ""Andrew Stanton""}, {""credit_id"": ""52fe479ac3a36847f813ea65"", ""department"": ""Directing"", ""gender"": 2, ""id"": 7, ""job"": ""Director"", ""name"": ""Andrew Stanton""}, {""credit_id"": ""58c69e819251411d30017673"", ""department"": ""Crew"", ""gender"": 2, ""id"": 7879, ""job"": ""Thanks"", ""name"": ""John Lasseter""}, {""credit_id"": ""52fe479ac3a36847f813eac5"", ""department"": ""Production"", ""gender"": 2, ""id"": 490, ""job"": ""Producer"", ""name"": ""Colin Wilson""}, {""credit_id"": ""58c68f2b9251411d30016cf2"", ""department"": ""Production"", ""gender"": 2, ""id"": 2073, ""job"": ""Casting"", ""name"": ""Gail Stevens""}, {""credit_id"": ""58c68ef19251411d62016ec3"", ""department"": ""Sound"", ""gender"": 2, ""id"": 3996, ""job"": ""Sound Re-Recording Mixer"", ""name"": ""Tom Johnson""}, {""credit_id"": ""52fe479ac3a36847f813ead7"", ""department"": ""Editing"", ""gender"": 2, ""id"": 6958, ""job"": ""Editor"", ""name"": ""Eric Zumbrunnen""}, {""credit_id"": ""58c69a9ec3a3..."

In [2]:
# 새로운 df
movies_df = movies[['id','title', 'genres', 'vote_average', 'vote_count',
                 'popularity', 'keywords', 'overview']]

In [3]:
pd.set_option('max_colwidth', 1000)
# movies_df[['genres','keywords']].head(1)
movies_df[['genres','keywords']][:2]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 878, ""name"": ""Science Fiction""}]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""space war""}, {""id"": 3388, ""name"": ""space colony""}, {""id"": 3679, ""name"": ""society""}, {""id"": 3801, ""name"": ""space travel""}, {""id"": 9685, ""name"": ""futuristic""}, {""id"": 9840, ""name"": ""romance""}, {""id"": 9882, ""name"": ""space""}, {""id"": 9951, ""name"": ""alien""}, {""id"": 10148, ""name"": ""tribe""}, {""id"": 10158, ""name"": ""alien planet""}, {""id"": 10987, ""name"": ""cgi""}, {""id"": 11399, ""name"": ""marine""}, {""id"": 13065, ""name"": ""soldier""}, {""id"": 14643, ""name"": ""battle""}, {""id"": 14720, ""name"": ""love affair""}, {""id"": 165431, ""name"": ""anti war""}, {""id"": 193554, ""name"": ""power relations""}, {""id"": 206690, ""name"": ""mind and soul""}, {""id"": 209714, ""name"": ""3d""}]"
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""name"": ""drug abuse""}, {""id"": 911, ""name"": ""exotic island""}, {""id"": 1319, ""name"": ""east india trading company""}, {""id"": 2038, ""name"": ""love of one's life""}, {""id"": 2052, ""name"": ""traitor""}, {""id"": 2580, ""name"": ""shipwreck""}, {""id"": 2660, ""name"": ""strong woman""}, {""id"": 3799, ""name"": ""ship""}, {""id"": 5740, ""name"": ""alliance""}, {""id"": 5941, ""name"": ""calypso""}, {""id"": 6155, ""name"": ""afterlife""}, {""id"": 6211, ""name"": ""fighter""}, {""id"": 12988, ""name"": ""pirate""}, {""id"": 157186, ""name"": ""swashbuckler""}, {""id"": 179430, ""name"": ""aftercreditsstinger""}]"

In [4]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_average  4803 non-null   float64
 4   vote_count    4803 non-null   int64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

- 텍스트 문자 1차 가공. 파이썬 딕셔너리 변환 후 리스트 형태로 변환

In [5]:
# 데이터 전처리 > [Action, Adventure, ...]
from ast import literal_eval # 문자가공(파싱) > 파이썬 객체

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [6]:
movies_df['genres'].head(5) # 객체화되었다.

0    [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]
1                                            [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}]
2                                              [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 80, 'name': 'Crime'}]
3                  [{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]
4                                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}]
Name: genres, dtype: object

In [7]:
# 테스트
test = {'id': 28, 'name': 'Action'}

test['name']

'Action'

In [8]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])

In [9]:
movies_df[['genres', 'keywords']][:5]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, space, alien, tribe, alien planet, cgi, marine, soldier, battle, love affair, anti war, power relations, mind and soul, 3d]"
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india trading company, love of one's life, traitor, shipwreck, strong woman, ship, alliance, calypso, afterlife, fighter, pirate, swashbuckler, aftercreditsstinger]"
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi6, british secret service, united kingdom]"
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret identity, burglar, hostage drama, time bomb, gotham city, vigilante, cover-up, superhero, villainess, tragic hero, terrorism, destruction, catwoman, cat burglar, imax, flood, criminal underworld, batman]"
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel, princess, alien, steampunk, martian, escape, edgar rice burroughs, alien race, superhuman strength, mars civilization, sword and planet, 19th century, 3d]"

In [28]:
movies_df['genres'].apply(lambda x : len(x)) == 0

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799    False
4800    False
4801     True
4802    False
Name: genres, Length: 4803, dtype: bool

In [27]:
test1[test1 == 1]

44      1
64      1
105     1
132     1
155     1
       ..
4789    1
4791    1
4793    1
4795    1
4802    1
Name: genres, Length: 900, dtype: int64

In [32]:
movies_df[movies_df.index == 4801]

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],"When ambitious New York attorney Sam is sent to Shanghai on assignment, he immediately stumbles into a legal mess that could end his career. With the help of a beautiful relocation specialist, a well-connected old-timer, a clever journalist, and a street-smart legal assistant, Sam might just save his job, find romance, and learn to appreciate the beauty and wonders of Shanghai. Written by Anonymous (IMDB.com)."

In [35]:
movies_df.loc[4801, 'genres'] = ['Romance']

In [37]:
movies_df.loc[4801]

id                                                                                                                                                                                                                                                                                                                                                                                                                                      126186
title                                                                                                                                                                                                                                                                                                                                                                                                                         Shanghai Calling
genres                                                                                                                                                                                                                                                                                                                                                                                                                                 Romance
vote_average                                                                                                                                                                                                                                                                                                                                                                                                                               5.7
vote_count                                                                                                                                                                                                                                                                                                                                                                                                                                   7
popularity                                                                                                                                                                                                                                                                                                                                                                                                                            0.857008
keywords                                                                                                                                                                                                                                                                                                                                                                                                                                    []
overview        When ambitious New York attorney Sam is sent to Shanghai on assignment, he immediately stumbles into a legal mess that could end his career. With the help of a beautiful relocation specialist, a well-connected old-timer, a clever journalist, and a street-smart legal assistant, Sam might just save his job, find romance, and learn to appreciate the beauty and wonders of Shanghai. Written by Anonymous  (IMDB.com).
Name: 4801, dtype: object

- 장르 콘텐츠 필터링을 이용한 영화 추천. 장르 문자열을 Count 벡터화 후에 코사인 유사도로 각 영화를 비교

- 장르 문자열의 Count기반 피처 벡터화

In [26]:
# Join
print(type((' ').join(['test', 'test2'])))
(' ').join(['test', 'test2'])

<class 'str'>

'test test2'

In [35]:
temp_s = pd.Series([
                     "Action Adventure",
                     "Action Adventure" ])
temp_s.shape

(2,)

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
temp_mat = count_vect.fit_transform(temp_s)
print( temp_mat.shape, type(temp_mat) )
temp_mat.toarray()

(2, 3) <class 'scipy.sparse.csr.csr_matrix'>

array([[1, 1, 1],
       [1, 1, 1]], dtype=int64)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

**장르에 따른 영화별 코사인 유사도 추출**

In [125]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [53]:
test = np.array([[1.         , 0.59628479, 0.4472136],
                [0.59628479, 1.       ,  0.4      ]])

print(test.argsort())              # 작은 순서부터 반환
print(test.argsort()[:, ::-1])

[[2 1 0]
 [2 0 1]]
[[0 1 2]
 [1 0 2]]

In [59]:
# argsort : 인덱스를 가져옴

genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]  # argsort
print(genre_sim_sorted_ind[:2])

[[   0 3494  813 ... 3038 3037 2401]
 [ 262    1  129 ... 3069 3067 2401]]

- 특정 영화와 장르별 유사도가 높은 영화를 반환하는 함수 생성

In [171]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    
    # 인자로 입력된 movies_df DataFrame에서 'title' 컬럼이 입력된 title_name 값인 DataFrame추출
    title_movie = df[df['title'] == title_name]
    
    # title_named을 가진 DataFrame의 index 객체를 ndarray로 반환하고 
    # sorted_ind 인자로 입력된 genre_sim_sorted_ind 객체에서 유사도 순으로 top_n 개의 index 추출
    title_index = title_movie.index.values
    print(title_index)
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # 추출된 top_n index들 출력. top_n index는 2차원 데이터 임. 
    #dataframe에서 index로 사용하기 위해서 1차원 array로 변경
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [172]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'Avatar',10)
similar_movies[['title', 'vote_average']]

[0]
[[   0 3494  813  870   46   14 1296 1652  419  420]]

                                          title  vote_average
0                                        Avatar           7.2
3494  Beastmaster 2: Through the Portal of Time           4.6
813                                    Superman           6.9
870                                 Superman II           6.5
46                   X-Men: Days of Future Past           7.5
14                                 Man of Steel           6.5
1296                               Superman III           5.3
1652                       Dragonball Evolution           2.9
419                                      Jumper           5.9
420                 Hellboy II: The Golden Army           6.5

- 왜 'The Godfather' 에는 'The Godfather'가 추천되지 않는지 궁금해서 확인
    - 유사도 1이 상당히 많음을 알 수 있다.

In [122]:
movies_df[movies_df['title'] == 'The Godfather']

,id,title,genres,vote_average,vote_count,popularity,keywords,overview,genres_literal
3337,238,The Godfather,"[Drama, Crime]",8.4,5893,143.659698,"[italy, love at first sight, loss of father, patriarch, organized crime, mafia, lawyer, italian american, crime family, rise to power, mob boss, 1940s]","Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.",Drama Crime

In [127]:
# genre_sim_sorted_ind[3337]
genre_sim[3337,3337]

1.0000000000000002

In [124]:
list(genre_sim[3337].argsort()).index(3337)

3809

In [129]:
np.sort(genre_sim[3337])[-25:]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1.])

- (부족한 점이 많다 > 평점도 추가해보자) 평점이 높은 영화 정보 확인

In [143]:
movies_df[['title','vote_average','vote_count']].sort_values('vote_average', ascending=False).head(10)

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

- 신뢰할 수 없는 평점 데이터에 대한 조치가 필요

- 평가 횟수에 대한 가중치가 부여된 평점(Weighted Rating) 계산  
         가중 평점(Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C
         
■ v: 개별 영화에 평점을 투표한 횟수
■ m: 평점을 부여하기 위한 최소 투표 횟수
■ R: 개별 영화에 대한 평균 평점.
■ C: 전체 영화에 대한 평균 평점

In [144]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:',round(C,3), 'm:',round(m,3))

C: 6.092 m: 370.2

In [146]:
#초 전체
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()


def weighted_vote_average(record):
    # 개별
    v = record['vote_count']
    R = record['vote_average']
    
    return ( (v/(v+m)) * R ) + ( (m/(m+v)) * C )   

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1) # Row별 적용

In [147]:
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote',
                                                                          ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [166]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배에 해당하는 쟝르 유사성이 높은 index 추출 
    similar_indexes = sorted_ind[title_index, :(top_n*2)] # 후보군 추출 (2배)
    similar_indexes = similar_indexes.reshape(-1)

    # 기준 영화 index는 제외
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    
    # top_n의 2배에 해당하는 후보군에서 weighted_vote 높은 순으로 top_n 만큼 추출 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'Avatar',10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                                          title  vote_average  weighted_vote
46                   X-Men: Days of Future Past           7.5       7.418594
813                                    Superman           6.9       6.685190
14                                 Man of Steel           6.5       6.477564
420                 Hellboy II: The Golden Army           6.5       6.420421
870                                 Superman II           6.5       6.348901
232                               The Wolverine           6.3       6.282606
3208            Star Wars: Clone Wars: Volume 1           8.0       6.221858
1191                             Small Soldiers           6.2       6.154700
1932                                     Sheena           5.0       6.030907
3494  Beastmaster 2: Through the Portal of Time           4.6       6.026658

In [162]:
x = np.array([1,2,3,4,5])

In [163]:
x[x != 5]

array([1, 2, 3, 4])